
<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Meirc</title>
    {% load static %}
    <link rel="stylesheet" type ="text/css" href="{% static 'main.css' %}">

  </head>
  <body>
   <div class= "start">
          <div class="row">
      <div class="hy">
       
    <div class="alert" role="alert"> Passionately developing careers.
      
   
      <div class="btn-group  col-6 mx-5">
        <a href="#" class="btn btn-primary active " aria-current="page">Articles</a>
        
        <a href="#" class="btn btn-primary active ">Blogs</a>
        <a href="#" class="btn btn-primary active">Downloads</a>
        <a href="#" class="btn btn-primary active">FAQ</a>
        <a href="#" class="btn btn-primary active ">Webinars</a>
      </div>
    
      <a href="#" class="icoFacebook  mx-2  text-light" title="Facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" class="icoTwitter mx-2 text-end text-light" title="Twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="icoGoogle mx-2mtext-center text-light" title="Google +"><i class="fa fa-google-plus"></i></a>
      <a href="#" class="icoLinkedin mx-2  text-center text-light " title="Linkedin"><i class="fa fa-linkedin"></i></a>
     
    
    </div>
    </div>
    
    </div>
      </div>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand text-primary" href="#">Meirc </a>
          <div class = "imag">
        
        </div>
          <br/>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="sec col-6">
          <div class="collapse navbar-collapse col-2" id="navbarSupportedContent ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-left" aria-current="page" href="#">Home</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Courses
                </a>
                <ul class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cities
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About Us
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-dark" href="#">ContactUs</a>
              </li>
           
          </div>
        </div>
      </div>
      </nav>

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

   
  
    <hr/>
    
    <span class="badge bg-danger mx-3">New</span> 
    
<button type="button" class="btn btn-primary mt-1">Meirc Online Learning</button>
<button type="button" class="btn btn-primary mx-1 mt-1  ">Consulting Solutions</button>

<button type="button" class="btn btn-primary mx-1 mt-1 ">CPA,CMA,CIA,CFA</button>
<button type="button" class="btn btn-primary mx-1 mt-1">Executing Coaching</button>
<button type="button" class="btn btn-outline-dark mx-1 mt-1 ">Meirc Talent Tool</button>
<button type="button" class="btn btn-outline-dark mx-1 mt-1 ">Course Selector</button>
<hr/>

  <div class ="fir ">
  <div class=" container-fluid  col-5">
    <form class="d-flex h-25">
      <h5> Human Resources and Training</h5>
    
  
<button class="btn btn-primary  mx-5 col-2 " type="submit"> Search</button>


    </form>
  </div>
</div>



<div>
  
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    
  </div>
<section>
  <div class="carousel-inner">
    <div class="carousel-item col-sm-12 active" >
    
      <img src= "{% static 'images/photof.jpg'%}" class=" w-100" >
    
      <div class="carousel-caption d-none  text-light d-sm-block d-lg-block">
        <h5>
          Workforce Planning and Budgeting</h5>
          <h6>Why Attend</h6>
        <p>

          Workforce planning is one the most important HR processes and is necessarily linked to every other function in HR management. Yet, in spite of its importance, it is often implemented haphazardly due to organizational and market complexities. In addition to surveying the drivers for workforce planning and its key performance indicators, this course presents and elaborates on an operational model for forecasting demand and supply of employees and demonstrates how resulting gaps can be bridged with a variety of controllable staffing initiatives. Moreover, participants will have the opportunity to learn and apply the forecasting techniques that are normally used in workforce planning.</p>
      </div>
    </div>
    </div>
    </section>
    <br/>
    <div class="five">
<div class="card mx-5 " style="width: 80%">
  <div class="card-body">
    <h5 class="card-title ">Overview</h5>
    <button class="btn btn-primary mt-1" href="#" role="button">Course Outline</button>
<button class="btn btn-primary mt-1 " type="submit">Associations</button>
<button class="btn btn-primary mt-1" type="submit">Schedule & Fees</button>
<button class="btn btn-primary mt-1" type="submit">Virtual Learning</button>

<br/> <br/>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Course Listing</a></li>
    <li class="breadcrumb-item active" aria-current="page">Course Outline</li>
  </ol>
</nav>
<button type="button" class="btn btn-primary mt-1 ">Request an In-House Proposal</button>
<button type="button" class="btn btn-warning mt-1">Quick Enquiry</button>

<button type="button" class="btn btn-success mt-1">Download Brochure</button>
<button type="button" class="btn btn-danger mt-1">Call Me Back</button>

<button type="button" class="btn btn-info mt-1">Register Now</button>
<br/> <br/>
    <h5 class="card-subtitle mb-2 text-bold">Course Methodology</h5>
    <p class="card-text">
      The course uses a mix of interactive techniques such as lecturettes, group activities, case studies, scenario analysis and team presentations
      <h5 class="card-subtitle mb-2 text-bold">Course Objectives </h5>
      
      By the end of the course, participants will be able to:
      <br/> <br/>
    <li>  Define workforce planning within the context of human resources management</li>

      <li>Explain how HR planning is related to the overall strategic plan of the organization</li>
    
      <li> Identify the economic concepts of demand and supply and how they apply to the labor market
      </li>

      <li> Apply forecasting tools to the demand and supply of different types of human resources, both in terms of quantity and quality
      </li>

      <li> Recognize the relationship of HR planning to the staffing process</li>
      

      <li> Describe why an understanding of the external labor market is important in workforce planning</li>


      <li> Formulate staffing strategies to fill labor gaps whether shortages or surpluses</li>
      

      <li> Apply budgeting techniques for workforce planningSome quick example text to build on the card title and make up the bulk of the card's content.
      </li>
      </p>
      <h5 class="card-subtitle mb-2 text-bold">  Target Audience</h5>
      <p class="card-text">
       
Recruitment and workforce planning managers and specialists, HR professionals and strategy analysts with at least three years experience in workforce planning, general HR management and business partners. This course is also useful to corporate planning managers who want to make sure their strategies are implemented successfully.

<h5 class="card-subtitle mb-2 text-bold"> Target Competencies</h5>

The course targets the following related competencies:
<br/> <br/>
 * Relating and networking
<br/> <br/>
* Persuading and influencing
<br/> <br/>
* Presenting and communicating
<br/> <br/>
* Analytical thinking
<br/> <br/>
* Applying expertise and technology
<br/> <br/>
* Formulating concepts and strategies
<br/> <br/>
* Planning and organizing
<br/> <br/>
* Achieving goals and objectives </p>
  </div>
  
</div>
<br/> <br/>
<div class="row mx-2">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <form>
        <h5 class="card-title">Training Categories</h5>
        <br/>
        <p class="card-text">Accounting and Finance
          <br/> <br/>
          Administration and Secretarial
          <br/> <br/>
          Auditing and Governance, Risk and Compliance
          <br/> <br/>
          Banking, Insurance and Financial Services
          <br/> <br/>
          Business Continuity and Crisis Management
          <br/> <br/>
          Communication and Writing Skills
          <br/> <br/>
          Construction Management
          <br/> <br/>
          Contracts Management
          <br/> <br/>
          Customer Service
          <br/> <br/>
          Data Management and Business Intelligence
          <br/> <br/>
          Digital Innovation and Transformation
          <br/> <br/>
          Hands-on Automation and Process Control
          <br/> <br/>
          Health, Safety and Environment
         
          <br/>
          </p>
        </form>
        
      </div>
    </div>
  </div>
  <div class="col-sm-6 mx-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Locate Us</h5>
        <h6 class="card-title">Abu Dubai Office</h6>
        <p class="card-text">   🔍 Office# 901 & 902, 9th Floor, Sultan International Tower (Old RAK Bank Building), Corniche Road , PO Box. 62182, Abu Dhabi, UAE
         <br/> 
         📞 +971 2 491 0700 
          <br/>
          📞 800 7100
          <br/>
          ✉ abudhabi@meirc.com
          <br/>
          <h6 class="card-title">Dubai Office</h6>

          🔍 1st Floor, Building 13, Bay Square, Business Bay, P.O. Box 5883, Dubai, UAE
          <br/>
          📞 +971 4 556 7171
          <br/>
          📞 800 7100
          <br/>
          📞 +971 4 556 7299
          <br/>
          ✉ dubai@meirc.com
       </p>
       <h6 class="card-title"> Jeddah Office</h6>
        <p class="card-text">
          🔍  Office #206, Sultana Square, Prince Sultan Rd., P.O. Box 1394, Jeddah 21414, KSA
          <br/> <br/>
          📞 +966 12 606 1364
          <br/> <br/>
          ✉   ksa@meirc.com
          </p>
          <h6 class="card-title">  Beirut, Lebanon Office</h6>
          <p class="card-text">  
            📞 +961 3 450 366
            
            <br/>
            ✉ beirut@meirc.com
            </p>
         
            <div>
              <h6 class="card-title">  Follow us on </h6>
              
                <a href="#" class="icoRss mx-2" title="Rss"><i class="fa fa-rss"></i></a>
                <a href="#" class="icoFacebook mx-2" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="icoTwitter mx-2" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="icoGoogle mx-2" title="Google +"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="icoLinkedin mx-2" title="Linkedin"><i class="fa fa-linkedin"></i></a>
              
            </div>
      </div>
    </div>
  </div>
</div>
</div>

<footer class="page-footer  font-small white">

  
  <div class="footer-copyright text-center bg-primary py-3"> 2021 ©  Copyright:
   All Rights Reserved 
  </div>
  

</footer>
</div>
  </body>
</html>